extends layout

block content
  div.container-fluid
    div.row
      div.col-4
        img(src='/images/logo-0.2.png').img-fluid
      div(style='padding-top:50px;').col-7
        h5(align='justify') Lost in the Sauce (LITS) is a group of like-minded individuals working together to foster REAL networking and support, with the mindset that entertainment can be used to improve each other's quality of life, foster positive relationships, and inspire each other to push boundaries while promoting creativity, individuality, and community.
        br
        h3(align='center') We are a family
        br
        h5(align='justify') Our rosters feature some of the greatest minds in the entertainment industry, ranging from talented broadcasters to professional players representing a uniform culture. Our goal is to nurture an involved group of individuals, working together to fulfill the mission of creating the best community on the Internet, and 
          a(href='http://discord.lits.gg') you're invited
          |.
        br
        h3(align='center') We are Lost in the Sauce
        br
    div(align='center').container-fluid
      a(href='http://discord.lits.gg').btn.btn-discord
        i.fab.fa-discord
      | &nbsp;
      a(href='https://www.twitch.tv/team/lostinthesauce').btn.btn-twitch
        i.fab.fa-twitch
      | &nbsp;
      a(href='https://www.twitter.com/litsgg').btn.btn-info
        i.fab.fa-twitter
      | &nbsp;
      a(href='https://www.youtube.com/c/lostinthesauce').btn.btn-danger
        i.fab.fa-youtube
      | &nbsp;
