extends layout

block content
  img(src='/images/logoLong-0.1.jpg', width='100%')
  p.center
    a(class='btn btn-discord' href='http://discord.lits.gg' target='_blank')
      i(class='fab fa-discord')
    | 
    a(class='btn btn-twitch' href='https://twitch.tv/team/lostinthesauce' target='_blank')
      i(class='fab fa-twitch')
    | 
    a(class='btn btn-info' href='https://twitter.com/litsgg' target='_blank')
      i(class='fab fa-twitter')
    | 
    a(class='btn btn-danger' href='https://youtube.com/c/lostinthesauce' target='_blank')
      i(class='fab fa-youtube-square')
