extends layout

block content
  div(align='center')
    h1 Our Extended Family
  div.container-fluid
    hr(color='#eee')
    
    div.sponsors
      div.row
        div(align='center').col-4
          a(href='https://agentink.gg' target='_blank')
            img(src='/images/agentink.png').img-fluid
        div.col-8
          br
          p coming soon...
      hr(color='#eee')
      //div.row
        div(align='center').col-4
          a(href='https://beta.endorse.gg' target='_blank')
            img(src='/images/endorse.png').img-fluid
        div.col-8
          p On platforms as saturated as sugar in soda, becoming successful is a daunting task. Endorse cuts down on the difficulty of obtaining sponsorships by connecting streamers of all sizes with opportunities their communities will love.
            br
            br
            | Endorse has helped the organization connect with mutliple opportunities of varying scales, ranging from deals promoting popular brands, to injecting gaming content onto non-endemic platforms.
      //hr(color='#eee')
      div.row
        div(align='center').col-4
          a(href='https://thewebaround.com/ref/LostInTheSauce/' target='_blank')
            img(src='/images/webaround.png').img-fluid
        div.col-8
          p According to 
            a(href='https://twitter.com/rover8680') rover
            | , Webaround Gaming was "the only booth at PAX South 2019 that did not put me to sleep."
            br
            br
            | In an industry where every body and their mothers are getting in on the practice of streaming, finding an affordable, official, and easy green screen solution has proven to be a daunting task. Fortunately, Webaround Gaming has pioneered an easy to set up and easy to pack green screen that has taken the world of Twitch by storm.
      hr(color='#eee')
      div.row
        div(align='center', style='padding-top:24px;' target='_blank').col-4
          a(href='https://opseat.com/ref/LITS/')
            img(src='/images/opseat.png').img-fluid
        div.col-8
          p When someone thinks of a gaming chair, they imagine premium prices for (sometimes) high quality racing chairs adapted for the office, and rightly so. A majority of gamers spend an arm and a leg to obtain these staples for their gaming setups. OPSEAT sets out to change the dynamic by offering the same quality gaming chairs at a fraction of the cost.
            br
            br
            | Our 
            a(href='https://www.twitch.tv/team/lostinthesauce') stream team
            |  consists of multiple OPSEAT partners and they all vouch for the quality and pricing of their gaming chairs.
