extends layout

block content
  div.container-fluid
    strong
      em
        | As of April 24, 2018, every member will be upheld to the following guidelines and have up to 30 days to understand, acknowledge, and implement them. Failure to adhere to these guidelines will result in a warning and severance.
      em
        span(style='font-weight: 400;')
          br
      em
        span(style='font-weight: 400;')
          | @Stream Team denotes official members of the stream team and the respective role on the Discord server.
      em
        span(style='font-weight: 400;')
          br
      em
        span(style='font-weight: 400;')
          | @Newbies denotes prospective members of the stream team and the respective role on the Discord server.
    hr(color='#eee')
    ol
      li
        strong  ATTEND HANGOUTS
    p
      strong
        em THIS ONLY PERTAINS TO CURRENT STREAM TEAM MEMBERS, NOT APPLICANTS
    p
      span(style='font-weight: 400;')
        | Barring special circumstances*, @Stream Team members are expected to attend at least one hangout in a given month. These hangouts are where important announcements are made, where members can connect, and where we work together to influence the future of Lost in the Sauce. This is where the magic happens.
    p
      span(style='font-weight: 400;') Hangouts are hosted on 
      a(href='http://zoom.us/')
        strong Zoom
      span(style='font-weight: 400;')
        | and @Stream Team can join via a direct link to a temporary meeting room. The link to the meeting will be posted in #meta and pinned in that channel for the duration of the meeting. Hangouts are held every Tuesday at 1:00 AM / 0100 (GMT).
    p
      span(style='font-weight: 400;')
        | * The necessity to stream or partake in related luxuries as a special circumstance to skip a meeting is inexcusable, unless you stream or partake in a related luxury for a living.
    ol(start='2')
      li
        strong  BE INTERACTIVE
    p
      span(style='font-weight: 400;') Being active is great, but being interactive is even better.
    p
      span(style='font-weight: 400;')
        | Following someone’s channel, chatting for a few minutes, or even lurking are very easy ways to support growing streamers, but they only go so far as to inflate numbers; there is no real networking involved and it boils down to an alternative “follow for follow” or “lurk for lurk” scheme.
    p
      span(style='font-weight: 400;')
        | Getting involved with other @Stream Team members is imperative to everyone’s success and happiness. This helps foster positive relationships and recognition across multiple communities and promotes organic growth. The one thing more valuable than money or numbers is one’s time and undivided attention.
    p
      span(style='font-weight: 400;')
        | Lost in the Sauce has a community Discord server, which serves as the nexus for all LITS communications. @Stream Team and @Newbies are expected to use the server to connect with each other on or off stream and stay informed. Activity within the server is valuable in gauging how active @Stream Team and @Newbies are within the community.