extends layout

block content
  div.container-fluid
    .card-deck
      .card(style='background-color: #6441A4')
        img.responsive.card-img-top(src='#', alt='Twitch')
        .card-body
          h5.card-title Twitch
          p.card-text
            | ...
        .card-footer
          a(class='btn btn-primary' href='https://www.twitch.tv/team/lostinthesauce', target='_blank') Roster
          | 
          a(class='btn btn-danger' href='/ste') Expectations
      .card
        img.card-img-top(src='#', alt='YouTube')
        .card-body(style='color: #000000')
          h5.card-title YouTube
          p.card-text
            | ...
        .card-footer
          a(class='btn btn-primary' href='https://www.youtube.com/lostinthesauce', target='_blank') Channel