body {
  background-color: #000;
  padding: 25px;
}

.center {
  text-align: center;
}

.footer {
  bottom: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.responsive-video {
  overflow: hidden;
  padding-bottom: 56.25%; /* emulates 16:9 aspect ratio */
  position: relative;
  height: 0;
}
.responsive-video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*
 * Extra utilities
 */

 .flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }